<!DOCTYPE html>
<html>
    <head>
        <title>UNPSJB:: MyS - 2024 - TP Final - Simulaci&oacute;n de Hospital</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#712cf9">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cheatsheet/">
        <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
        <link rel="manifest" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/manifest.json">
        <link rel="mask-icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">

        <script src="https://getbootstrap.com/docs/5.3/assets/js/color-modes.js"></script>
        <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://getbootstrap.com/docs/5.3/examples/cheatsheet/cheatsheet.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
        <link href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/5.3/examples/cheatsheet/cheatsheet.css" rel="stylesheet">
        <style>

            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                  font-size: 3.5rem;
                }
            }

            .b-example-divider {
                width: 100%;
                height: 3rem;
                background-color: rgba(0, 0, 0, .1);
                border: solid rgba(0, 0, 0, .15);
                border-width: 1px 0;
                box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
            }

            .b-example-vr {
                flex-shrink: 0;
                width: 1.5rem;
                height: 100vh;
            }

            .bi {
                vertical-align: -.125em;
                fill: currentColor;
            }

            .nav-scroller {
                position: relative;
                z-index: 2;
                height: 2.75rem;
                overflow-y: hidden;
            }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }

            .btn-bd-primary {
                --bd-violet-bg: #712cf9;
                --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
                --bs-btn-font-weight: 600;
                --bs-btn-color: var(--bs-white);
                --bs-btn-bg: var(--bd-violet-bg);
                --bs-btn-border-color: var(--bd-violet-bg);
                --bs-btn-hover-color: var(--bs-white);
                --bs-btn-hover-bg: #6528e0;
                --bs-btn-hover-border-color: #6528e0;
                --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
                --bs-btn-active-color: var(--bs-btn-hover-color);
                --bs-btn-active-bg: #5a23c8;
                --bs-btn-active-border-color: #5a23c8;
            }

            .bd-mode-toggle {
                z-index: 1500;
            }

            .bd-mode-toggle .dropdown-menu .active .bi {
                display: block !important;
            }
        </style>
    </head>
    <body class="bg-body-tertiary">
        <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
            <div class="container-fluid d-flex align-items-center">
                <h1 class="d-flex align-items-center fs-4 text-white mb-0">
                    <img src="{{ url_for('static', filename='img/unpsjb.png') }}" class="me-3" alt="UNPSJB">
                    :: UNPSJB :: Modelos y Simulaci&oacute;n 2024
                </h1>
            </div>
        </header>
        <aside class="bd-aside sticky-xl-top text-body-secondary align-self-start mb-3 mb-xl-5 px-2">
            <h2 class="h6 pt-4 pb-3 mb-4 border-bottom"><br><br>De la materia</h2>
            <nav class="small" id="toc">
                <ul class="list-unstyled">
                    <li class="my-2">
                        <button type="button" class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#docentes" aria-controls="docentes">Docentes</button>
                        <ul class="list-unstyled ps-3 collapse" id="docentes">
                            <li><b>Profesora:</b>Mg. L&oacute;pez de Muna&iacute;n Claudia</li>
                            <li><b>Auxiliar:</b> Lic. Pazos Bruno</li>
                        </ul>
                    </li>
                    <li class="my-2">
                        <button type="button" class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#estudiantes" aria-controls="estudiantes">Estudiantes</button>
                        <ul class="list-unstyled ps-3 collapse" id="estudiantes">
                            <li>Ana Enzo</li>
                            <li>Barea Mat&iacute;as</li>
                            <li>Irigoyen Carlos</li>
                            <li>Morillo Meneses Alen</li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <h2 class="h6 pt-4 pb-3 mb-4 border-bottom"><br><br>Del trabajo final</h2>
            <nav class="small" id="toc">
                <ul class="list-unstyled">
                    <li class="my-2">
                        <button type="button" class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#trabajoFinal" aria-controls="trabajoFinal">Simulaci&oacute;n de Hospital</button>
                        <ul class="list-unstyled ps-3 collapse" id="trabajoFinal">
                            <li><a href="https://drive.google.com/file/d/1apNT0nQrsuG-muzP3nLug_YYqGMB-v7U/view?usp=sharing" target="blank">Enunciado</a></li>
                            <li><a href="https://docs.google.com/document/d/1_Aq5HP-RTs70vnyPfqQpkYYeDEUURAX4go5qLYh-39s/edit?usp=drive_link" target="blank">Resoluci&oacute;n</a></li>
                            <li><a href="https://github.com/Matiaseze/mys-2024-TP-Final" target="blank">Repositorio</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        <div class="bd-cheatsheet container-fluid bg-body">
            <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">TP Final - Hospital</h2>
            <section id="seccionEnunciado">
                <article class="my-3" id="carousel">
                    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
                        <h3>Enunciado</h3>
                    </div>
                    <div>
                        <div class="bd-example-snippet bd-code-snippet">
                            <div class="bd-example m-0 border-0">
                                <div class="accordion" id="enunciados">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="enunciado1">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#enunciado1Contenido" aria-expanded="false" aria-controls="decisionDisenio1Contenido">
                                                <Strong>Simulaci&oacute;n de Hospital</strong>
                                            </button>
                                        </h2>
                                        <div id="enunciado1Contenido" class="accordion-collapse collapse" aria-labelledby="enunciado1" data-bs-parent="#enunciados">
                                            <div class="accordion-body">
                                                <p>
                                                    El <strong>enunciado del trabajo final</strong> establece que:
                                                </p>
                                                <p>
                                                    <ol class="list-group list-group-numbered">
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Modo de trabajo</div>
                                                                Continuo, sin interrupciones los fines de semana o feriados. 365 (trescientos sesenta y cinco) d&iacute;as al a&ntilde;o.
                                                            </div>
                                                            <span class="badge bg-primary rounded-pill">Corridas de 365 d&iacute;as</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Quir&oacute;fanos</div>
                                                                El Hospital cuenta originalmente con 4 (cuatro) quir&oacute;fanos, los cuales permanecen abiertos entre las 08:00 horas y las 20:00 horas de cada d&iacute;a.<br>
                                                                Cada quir&oacute;fano es capaz de atender un promedio de 8 (ocho) cirug&iacute;as diarias siguiendo una <strong><i>Distribuci&oacute;n de Poisson</i></strong>.<br>
                                                                Cada intervenci&oacute;n quir&uacute;rgica se lleva a cabo en un tiempo promedio de 1.5 horas siguiendo una <strong><i>Distribuci&oacute;n Exponencial</i></strong>.
                                                            </div>
                                                            <span class="badge bg-primary rounded-pill">4 quir&oacute;fanos inicialmente</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Kits m&eacute;dicos</div>
                                                                El uso de los quir&oacute;fanos supone la utilizaci&oacute;n de insumos necesarios para los diferentes procedimientos que se llevan a cabo.<br>
                                                                Mensualmente se utiliza un promedio de 130 (ciento treinta) kits m&eacute;dicos siguiendo una <strong><i>Distribuci&oacute;n de Poisson</i></strong>.<br>
                                                                La reposici&oacute; de los kits m&eacute;dicos es a un ritmo fijo de 4 (cuatro) por d&iacute;a.<br>
                                                                Las intervenciones quir&uacute;rgicas que no cuenten con un kit m&eacute;dico deben reprogramarse para el d&iacute;a siguiente.
                                                            </div>
                                                            <span class="badge bg-primary rounded-pill">Resposici&oacute;n diaria de 4 kits m&eacute;dicos</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Pacientes</div>
                                                                Todos los pacientes llegan con una orden de internaci&oacute;n que puede o no tener adem&aacute;s una reserva de quir&oacute;fano, lo que ocurre en promedio un 43% (cuarenta y tres por ciento) de las veces bajo una <strong><i>Distribuci&oacute;n Uniforme</i></strong>.<br>
                                                                Arriban con una media de 110 (ciento diez) pacientes diarios siguiendo una <strong><i>Distribuci&oacute;n de Poisson</i></strong>.<br>
                                                                Permanecen internados un promedio de tiempo de 2 (dos) d&iacute;as, siguiendo una <strong><i>Distribuci&oacute;n Exponencial</i></strong>.<br>
                                                                Quienes llegan luego de las 20:00 horas y deben operarse, deber&aacute;n esperar hasta el d&iacute;a siguiente.
                                                            </div>
                                                            <span class="badge bg-primary rounded-pill">110 pacientes diarios aproximadamente</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Camas</div>
                                                                El Hospital cuenta con 210 (doscientas diez) camas, tanto para pacientes que van a quir&oacute;fano como para quienes no.
                                                            </div>
                                                            <span class="badge bg-primary rounded-pill">210 camas inicialmente</span>
                                                        </li>
                                                    </ol>                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <section id="seccionObjetivo">
                <article class="my-3" id="carousel">
                    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
                        <h3>Objetivo</h3>
                    </div>
                    <div>
                        <div class="bd-example-snippet bd-code-snippet">
                            <div class="bd-example m-0 border-0">
                                <div class="accordion" id="enunciados">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="objetivo1">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#objetivo1Contenido" aria-expanded="false" aria-controls="decisionDisenio1Contenido">
                                                <Strong>Objetivo de simulaci&oacute;n </strong>
                                            </button>
                                        </h2>
                                        <div id="objetivo1Contenido" class="accordion-collapse collapse" aria-labelledby="objetivo1" data-bs-parent="#objetivos">
                                            <div class="accordion-body">
                                                <p>
                                                    El <strong>objetivo general</strong> de la simulaci&oacute;n es:
                                                </p>
                                                <p>
                                                    Evaluar el funcionamiento del hospital durante un periodo de 2 (dos) a&ntilde;os (suponiendo una duraci&oacute;n de jornada habitual durante los 365 d&iacute;as del a&ntilde;o) para reducir el tiempo de espera de los pacientes y la cantidad de pacientes que quedan sin atenderse.
                                                </p>
                                                <p>
                                                    Los <strong>objetivos espec&iacute;ficos</strong> son:
                                                </p>
                                                <p>
                                                    <ol class="list-group list-group-numbered">
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Tiempo de espera promedio de los pacientes</div>
                                                                Determinar el tiempo de espera promedio de los pacientes antes de recibir una cama o un quir&oacute;fano.
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Pacientes rechazados por camas</div>
                                                                Determinar la cantidad de pacientes rechazados por ausencia de camas.
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Pacientes rechazados por internaci&oacute;n agotada</div>
                                                                Determinar la cantidad de pacientes rechazados por tiempo de internaci&oacute;n agotado.
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Cirug&iacute;as concretadas</div>
                                                                Determinar la cantidad de cirug&iacute;as concretadas.
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Cirug&iacute;as rechazadas</div>
                                                                Determinar la cantidad de cirug&iacute;as rechazadas.
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Cirug&iacute;as reprogramadas por insumos</div>
                                                                Determinar la cantidad de cirug&iacute;as reprogramadas por insumos.
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Cirug&iacute;as reprogramadas por quir&oacute;fanos</div>
                                                                Determinar la cantidad de cirug&iacute;as reprogramadas por finalizaci&oacute;n del horario de atenc&iacute;on de los quir&oacute;fanos.
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Cirug&iacute;as reprogramadas por cuota diaria</div>
                                                                Determinar la cantidad de cirug&iacute;as reprogramadas por l&iacute;mite de cuota diaria excedido.
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <section id="seccionDecisionesDisenio">
                <article class="my-3" id="carousel">
                    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
                        <h3>Decisiones de dise&ntilde;o</h3>
                    </div>
                    <div>
                        <div class="bd-example-snippet bd-code-snippet">
                            <div class="bd-example m-0 border-0">
                                <div class="accordion" id="decisionesDisenio">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="decisionDisenio1">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#decisionDisenio1Contenido" aria-expanded="false" aria-controls="decisionDisenio1Contenido">
                                                <Strong>Camas</strong>
                                            </button>
                                        </h2>
                                        <div id="decisionDisenio1Contenido" class="accordion-collapse collapse" aria-labelledby="decisionDisenio1" data-bs-parent="#decisionesDisenio">
                                            <div class="accordion-body">
                                                <p>
                                                    Respecto de las <strong>camas</strong>, se decidi&oacute; permitir modificar la cantidad de unidades disponibles en el hospital.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="decisionDisenio2">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#decisionDisenio2Contenido" aria-expanded="false" aria-controls="decisionDisenio2Contenido">
                                                <strong>Quir&oacute;fanos</strong>
                                            </button>
                                        </h2>
                                        <div id="decisionDisenio2Contenido" class="accordion-collapse collapse" aria-labelledby="decisionDisenio2" data-bs-parent="#decisionesDisenio">
                                            <div class="accordion-body">
                                                <p>
                                                    Respecto de los <strong>quir&oacute;fanos</strong>, se decidi&oacute; permitir modificar la cantidad de unidades disponibles en el hospital y administrar su horario de atenci&oacute;n.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="decisionDisenio3">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#decisionDisenio3Contenido" aria-expanded="false" aria-controls="decisionDisenio3Contenido">
                                                <strong>Kits m&eacute;dicos</strong>
                                            </button>
                                        </h2>
                                        <div id="decisionDisenio3Contenido" class="accordion-collapse collapse" aria-labelledby="decisionDisenio3" data-bs-parent="#decisionesDisenio">
                                            <div class="accordion-body">
                                                <p>
                                                    Respecto de los <strong>kits m&eacute;dicos</strong>, se decidi&oacute; permitir la posibilidad de indicar un inventario inicial y administrar la cantidad unidades de reposici&oacute;n diaria.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="decisionDisenio4">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#decisionDisenio4Contenido" aria-expanded="false" aria-controls="decisionDisenio4Contenido">
                                                <strong>Pacientes</strong>
                                            </button>
                                        </h2>
                                        <div id="decisionDisenio4Contenido" class="accordion-collapse collapse" aria-labelledby="decisionDisenio4" data-bs-parent="#decisionesDisenio">
                                            <div class="accordion-body">
                                                <p>
                                                    Respecto de los <strong>pacientes</strong>, se decidi&oacute; establecer que toda aquella persona que no fuera intervenida quir&uacute;rgicamente dentro de su per&iacute;odo de internaci&oacute;n se la considera un caso de fracaso y se rechaza su cirug&iacute;a.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <section id="seccionParametros">
                <article class="my-3" id="floating-labels">
                    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
                        <h3>Par&aacute;metros</h3>
                    </div>
                    <div>
                        <div class="bd-example-snippet bd-code-snippet">
                            <div class="bd-example m-0 border-0">
                                <form action="" method="post">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control is-valid" id="aniosSimulacion" name="aniosSimulacion" placeholder="A&ntilde;os de simulaci&oacute;n" min="1" max="10" value="{{ aniosSimulacion }}" required>
                                        <label for="floatingInput">A&ntilde;os de simulaci&oacute;n</label>
                                        <div class="invalid-feedback">
                                            Indique los a&ntilde;os de simulaci&oacute;n...
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control is-valid" id="cantidadCamas" name="cantidadCamas" placeholder="Cantidad de camas" min="100" max="1000" value="{{ cantidadCamas }}" required>
                                        <label for="cantidadCamas">Cantidad de camas</label>
                                        <div class="invalid-feedback">
                                            Indique la cantidad de camas...
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control is-valid" id="cantidadQuirofanos" name="cantidadQuirofanos" placeholder="Cantidad de quir&oacute;fanos" min="1" max="10" value="{{ cantidadQuirofanos }}" required>
                                        <label for="cantidadQuirofanos">Cantidad de quir&oacute;fanos</label>
                                        <div class="invalid-feedback">
                                            Indique la cantidad de quir&oacute;fanos...
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control is-valid" id="cantidadHorasAtencionQuirofanos" name="cantidadHorasAtencionQuirofanos" placeholder="Cantidad de horas de atenci&oacute;n de los quir&oacute;fanos" min="12" max="24" value="{{ cantidadHorasAtencionQuirofanos }}" required>
                                        <label for="cantidadHorasAtencionQuirofanos">Cantidad de horas de atenci&oacute;n de los quir&oacute;fanos</label>
                                        <div class="invalid-feedback">
                                            Indique la cantidad de horas de atenci&oacute;n de los quir&oacute;fanos...
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control is-valid" id="inventarioInicial" name="inventarioInicial" placeholder="Inventario inicial de kits m&eacute;dicos" min="0" max="500" value="{{ inventarioInicial }}" required>
                                        <label for="inventarioInicial">Inventario inicial de kits m&eacute;dicos</label>
                                        <div class="invalid-feedback">
                                            Indique el inventario inicial de kits m&eacute;dicos...
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control is-valid" id="reposicionDiariaInventario" name="reposicionDiariaInventario" placeholder="Reposici&oacute;n diaria del inventario" min="1" max="500" value="{{ reposicionDiariaInventario }}" required>
                                        <label for="reposicionDiariaInventario">Reposici&oacute;n diaria del inventario</label>
                                        <div class="invalid-feedback">
                                            Indique la reposici&oacute;n diaria del inventario...
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary" type="submit">Simular</button>
                                        <button class="btn btn-primary" type="reset">Reiniciar simulaci&oacute;n</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            {% if huboSimulacion %}
                <section id="seccionResultados">
                    <article class="my-3" id="floating-labels">
                        <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
                            <h3>Resultados</h3>
                        </div>
                        <div>
                            <div class="bd-example-snippet bd-code-snippet">
                                <div class="bd-example m-0 border-0">
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/demanda_mensual.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/disponibilidad_mensual_camas.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/reserva_mensual.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/uso_mensual_kits.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/disponibilidad_mensual_kits.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/cirugias_concretadas_mensual.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/cirugias_reprogramadas_por_insumos_mensual.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/cirugias_reprogramadas_por_tiempo_mensual.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/cirugias_reprogramadas_por_cuota_mensual.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/pacientes_rechazados_por_falta_de_camas_por_mes.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/pacientes_rechazados_por_internacion_agotada_por_mes.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/promedio_espera_por_tiempo_espera_quirofanos_mensual.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/grafico_porcentaje_ocupacion_quirofanos.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    <div class="form-floating mb-3">
                                        <img src="{{ url_for('static', filename='img/resultados/grafico_promedio_de_horas_de_ocupacion_quirofanos_mensual.png') }}" class="me-3" width="800" height="600">
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="bd-example-snippet bd-code-snippet">
                                <div class="bd-example m-0 border-0">
                                    <div class="form-floating mb-3"> 
                                        <h2>Totales</h2> 
                                        <ul>
                                            <li><strong>Pacientes rechazados por ausencia de camas: </strong>{{ estadoSimulacion['total_pacientes_rechazados_por_ausencia_camas'] }}</li>
                                            <li><strong>Pacientes rechazados por tiempo de internaci&oacute;n agotado: </strong>{{ estadoSimulacion['total_pacientes_rechazados_por_internacion_agotada'] }}</li>
                                            <li><strong>Cirug&iacute;as concretadas: </strong>{{ estadoSimulacion['total_cirugias_concretadas'] }}</li>
                                            <li><strong>Cirug&iacute;as rechazadas: </strong>{{ estadoSimulacion['total_cirugias_rechazadas'] }}</li>
                                            <li><strong>Cirug&iacute;as reprogramadas por falta de insumos: </strong>{{ estadoSimulacion['total_cirugias_reprogramadas_por_insumos'] }}</li>
                                            <li><strong>Cirug&iacute;as reprogramadas por cierre de quir&oacute;fano: </strong>{{ estadoSimulacion['total_cirugias_reprogramadas_por_tiempo'] }}</li>
                                            <li><strong>Cirug&iacute;as reprogramadas por limite de cuota diaria excedida: </strong>{{ estadoSimulacion['total_cirugias_reprogramadas_por_cuota_diaria'] }}</li>
                                            <li><strong>Tiempo promedio de espera de los pacientes: </strong>{{ estadoSimulacion['tiempo_espera_promedio_de_quirofanos'] }} d&iacute;as</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            {% endif %}
        </div>
    </body>
</html>